body { margin: 0; padding: 0 15px 48px; }
.container.main { padding: 30px 0 40px; text-align: left; }
.form-group label.control-label { margin: 0; }
.form-horizontal .form-group { margin: 0; }
.form-group { margin: 0; }
.form-group .help-block { position: static; display: block; margin: 0 0 5px; }
.btn, .input-group-btn .btn { margin: 2px 1px 0; }
.well.bs-component, body .container .well { padding-bottom: 16px; }
#banner.page-header { margin-top: 0; padding: 0; }
#banner.page-header h1 { font-size: 6rem; margin-top: 0; }
#banner.page-header h1 .btn { vertical-align: -8px; }
#main-form.inactive, #edit-form.inactive { display: none; }
/* .togglebutton { padding: 5px 0 0 0; }
.togglebutton label { margin: 0; } */
.sm-btn-input > *:first-child { width: calc(100% - 67px); display: inline-block; vertical-align: top; }
.sm-btn-input > *:nth-child(2) { /*width: 40px;*/ display: inline-block; vertical-align: top; margin-left: 22px; }
.r-btn-input { margin: 7px 0; }
.r-btn-input > *:first-child { width: 55px; display: inline-block; vertical-align: top; margin-right: 8px; margin: 4px 8px 0 4px; }
.r-btn-input > *:nth-child(2) { width: calc(100% - 75px); display: inline-block; vertical-align: top; }
.btn .fa { margin: 0 6px 0 0; }
#url-form { display: none; }
/* #loading-btn { display: none; }
body.loading #update-btn { display: none; }
body.loading #loading-btn { display: inline-block; } */
.loading-img { font-size: 4rem; display: none; position: absolute; z-index: 4; text-align: center; top: 0; left: 0; right: 0; }
body.loading { overflow: hidden; }
body.loading .loading-img { display: block; }
body.loading #displayer, body.loading #editer { position: relative; }
body.loading #displayer:before, body.loading #editer:before { content: ''; display: block; position: absolute; z-index: 2; top: 0; right: -15px; bottom: 0; left: -15px; background: #EEE; }
body.loading .jcrop-holder { display: none; }
.snackbar { background: #fff; color: #333; max-width: 600px; min-width: 180px; }
.snackbar.snackbar-opened { padding: 14px 20px; }
.snackbar-content p { display: inline-block; margin: 0; }
.snackbar-content .btn { margin: 8px 0 8px 10px; }
#displayer, #editer { text-align: center; }
#displayer > .container, #editer > .container { padding: 0; }
#img-container { display: inline-block; font-size: 0; position: relative; }
#img-container > img, #edit-img-container > img { max-width: 100%; }
#img-container.nomax > img { max-width: none; }
#img-container.max-recommended-px > img { max-width: 1200px }
canvas { max-width: 100%; }
#text-container { position: absolute;
    box-sizing: border-box;
    background: rgba(255,255,255,0.3);
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#text-container.off-overlay { visibility: hidden; }
#text-container.light { background: rgba(255,255,255,0.3); }
#text-container.dark { background: rgba(0,0,0,0.7); }
#text-container.left, #text-container.right {
    width: 40%; padding: 8% 3%;
    top: 0; bottom: 0;
}
#text-container.top, #text-container.bottom {
    height: 25%; padding: 4% 6%;
    left: 0; right: 0;
}
#text-container.left {
    left: 0;
}
#text-container.right {
    right: 0;
}
#text-container.top {
    top: 0;
}
#text-container.bottom {
    bottom: 0;
}
#text-container > div {
    position: relative;
    display: inline-block;
    max-height: 100%;
    text-align: center;
}
#text-container.horizontal-bars > div:after, #text-container > div > div:after {
    box-sizing: content-box;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 30%;
    margin: 0 auto;
    opacity: 0.7;
}
#text-container.horizontal-bars > div:after {
    top: -14%;
    border-bottom: 1px solid #150f05;
    height: 2px;
    border-top: 2px solid #150f05;
}
#text-container.horizontal-bars > div > div:after {
    bottom: -14%;
    border-top: 1px solid #150f05;
    height: 2px;
    border-bottom: 2px solid #150f05;
}
#text-container.horizontal-bars.light > div:after, #text-container.horizontal-bars.light > div > div:after { border-color: #150f05; }
#text-container.horizontal-bars.dark > div:after, #text-container.horizontal-bars.dark > div > div:after { border-color: #f2f2f2; }
#text-container > div > div { display: inline-block; }
#text-container p {
    margin: -0.125em 0 0;
    font-family: "Playfair Display SC";
    color: #150f05;
    text-align: center;
    font-size: 100px;
    line-height: 0.9;
}
#text-container.light p { color: #150f05; }
#text-container.dark p { color: #f2f2f2; }
#edit-form .well.inactive { cursor: pointer; }
#edit-form .well.inactive legend { margin: 4px 0; transition: all 0.5s; }
#edit-form .well .slide-down-btn { display: none; }
#edit-form .well.inactive .control-restore-btn { display: none; }
#edit-form .well.inactive .slide-down-btn { display: inline-block; }
.btn-group-margin > *, .btn-group-margin > .btn, .btn-group-margin > .btn.btn-fab { margin-left: 6px; }
.btn-group-margin > *:first-child, .btn-group-margin > .btn:first-child, .btn-group-margin > .btn.btn-fab:first-child { margin-left: 0; }
#editer { display: none; }
#editer > .container { position: relative; }
#edit-img-container { margin: auto; display: inline-block; }
#edit-img-container .jcrop-holder { background: transparent!important; }
#edit-img-container img.h-swapped { transform: rotateY(180deg); }
#edit-img-container img.pending-rotate { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;}
#edit-img-container.nomax-i > img { max-width: none!important; }
#edit-img-container.saving-rotate { position: relative; }
#well-crop .btn-group { margin: 0 1px; }
.btn-group-sm .btn-fab-fa, .btn-fab-mini-fa { padding: 9px 0px; }
.btn-group-sm .btn-fab-fa .fa, .btn-fab-mini-fa .fa { font-size: 24px; margin: 0; }
.tooltip.fade { transition: none; }
